<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240873105659-ahkek2uo0qg9tmqiropgncjradu2cidt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240873105659-ahkek2uo0qg9tmqiropgncjradu2cidt</string>
	<key>API_KEY</key>
	<string>AIzaSyCaeZqoskb9h71gHmqC2Z9HuCp3hWf7M7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>240873105659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSPlayground.Sketchpad</string>
	<key>PROJECT_ID</key>
	<string>ios-sketchpad</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-sketchpad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240873105659:ios:eebd75bb4526268c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-sketchpad.firebaseio.com</string>
</dict>
</plist>